@import url(css3buttons.css);
input[type="text"] {
  width: 500px; }

/* ======== dashboard ======== */
.dashboard {
  padding: 20px;
  font-size: 1.2em; }
  .dashboard .title {
    float: left; }
  .dashboard .count {
    margin-left: 100px;
    padding: 5px 0;
    border-bottom: 1px dashed #ccc; }

/* ======== general ======== */
.top-margin-5 {
  margin-top: 5px; }

.top-margin-10 {
  margin-top: 10px; }

/* ======== product ======== */
.product .info {
  background: #EAF0F6;
  border: 1px solid #D3DBFF;
  margin: 10px 0; }
  .product .info .title {
    text-align: center;
    background: #D3DBFF;
    padding: 2px; }
  .product .info .content {
    padding: 10px; }
    .product .info .content .attr {
      padding: 3px; }
      .product .info .content .attr span.red {
        color: red; }

/* ======== tag ======== */
.tag_cloud .css1 {
  font-size: 1.0em; }
.tag_cloud .css2 {
  font-size: 1.2em; }
.tag_cloud .css3 {
  font-size: 1.4em; }
.tag_cloud .css4 {
  font-size: 1.6em; }

/* ======== comment ======== */
.comment {
  margin: 5px;
  font-size: 1em; }
  .comment .title {
    padding: 5px;
    background: #eee;
    height: 20px; }
    .comment .title .name {
      font-weight: bold;
      float: left; }
    .comment .title .product {
      float: left;
      margin-right: 20px; }
    .comment .title .author {
      float: left; }
    .comment .title .tool {
      float: right; }
  .comment .body {
    padding: 10px; }

form.edit_comment {
  margin: 5px 0;
  padding: 10px;
  background: #D8DCEF;
  border: 1px solid #204CA0; }
  form.edit_comment #error_explanation {
    border: 1px solid #F07746;
    margin: 10px;
    padding: 10px;
    background: #FFF0EB; }
  form.edit_comment .field {
    margin: 5px;
    padding: 5px; }
    form.edit_comment .field label {
      float: left;
      width: 60px;
      overflow: hidden;
      text-align: right;
      padding: 5px 10px 0 0; }
    form.edit_comment .field input {
      width: 600px; }
    form.edit_comment .field textarea {
      height: 120px;
      width: 600px; }
  form.edit_comment .field_with_errors {
    color: #F07746; }
    form.edit_comment .field_with_errors input {
      border: 1px solid #F07746;
      background: #FFF0EB; }

/* ======== image ======== */
.image {
  margin-bottom: 3px;
  display: inline-block; }

/* ======== category ======== */
.category {
  height: 25px;
  background: #F6F7FF;
  border: 1px solid #D3DBFF;
  margin: 5px;
  padding: 5px 5px 5px 15px; }

.nested_categories {
  margin-left: 30px; }

/* ======== article ======== */
.article {
  padding: 15px; }
  .article .content {
    padding-top: 35px; }

/* ======== user ======== */
.user {
  padding: 50px 15px 15px 15px;
  font-size: 1.1em;
  line-height: 25px; }
  .user .column {
    border-bottom: 1px solid #eee;
    height: 25px; }
    .user .column .title {
      width: 120px;
      text-align: right;
      float: left;
      margin-right: 20px; }

/* ======== plist ======== */
.new_plist {
  margin: 10px; }

.plist, .edit_plist {
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 5px; }

/* ======== application ======== */
body {
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
  color: #000;
  background-color: #d4d4d4;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  min-width: 900px; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: #0054ff; }

a:hover {
  background-color: #0054ff;
  color: #fff; }

ul {
  padding-left: 2em;
  margin-left: 0; }

.float_right {
  float: right; }

.center {
  text-align: center; }

.form {
  padding: 10px; }
  .form #error_explanation {
    border: 1px solid #F07746;
    margin: 10px;
    padding: 10px;
    background: #FFF0EB; }
  .form .field {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #eee; }
    .form .field label {
      float: left;
      width: 150px;
      overflow: hidden; }
    .form .field .properties, .form .field .add_link {
      margin-left: 150px; }
  .form .field_with_errors {
    color: #F07746; }
    .form .field_with_errors input {
      border: 1px solid #F07746;
      background: #FFF0EB; }
  .form .properties .field_with_errors {
    display: inline-block; }
    .form .properties .field_with_errors label {
      display: none; }
  .form .add_link {
    margin: 10px; }

.table {
  border-collapse: collapse;
  width: 100%; }
  .table th {
    background: #eaeaea;
    color: #222;
    font-weight: normal;
    padding: 5px;
    text-align: left; }
  .table td {
    border-bottom: 1px solid #eaeaea;
    padding: 5px; }
    .table td.last {
      padding-top: 0px;
      padding-bottom: 0px; }
  .table tr.even {
    background: #f8f8f8; }

#right input[type="text"] {
  width: 180px; }
#right input[type="text"].number {
  width: 60px; }
#right hr {
  color: #eee; }

/* ====================== pagination =========================== */
#page {
  width: 100%;
  padding: 10px 0; }
  #page .pagination {
    font-size: 13px;
    text-align: right;
    padding: 4px 6px 4px 0;
    background-color: #fff;
    color: #313031; }
    #page .pagination a {
      color: #0030ce;
      text-decoration: none;
      padding: 5px 6px 4px 5px;
      margin: 0 3px 0 3px;
      border: 1px solid #b7d8ee; }
      #page .pagination a:hover, #page .pagination a:active {
        color: #0066a7;
        border: 1px solid #b7d8ee;
        background-color: #d2eaf6; }
    #page .pagination span.current {
      padding: 5px 6px 4px 5px;
      margin: 0 3px 0 3px;
      border: 1px solid #b7d8ee;
      font-weight: bold;
      color: #444444;
      background-color: #d2eaf6; }
    #page .pagination span.disabled {
      display: none; }

/* ====================== UI =========================== */
#header {
  background-color: #204ca0;
  margin: 0;
  padding: 0.5em 2.2em 0 3em; }

#header h1 {
  font-weight: normal;
  color: #fff; }

#header h1 span {
  font-size: 0.6em;
  color: #bfd82d; }

#header h1 a {
  font-weight: normal;
  color: #fff;
  text-decoration: none; }

#global_links {
  float: right;
  font-size: 0.8em;
  color: #e3fdff;
  margin-top: 12px;
  text-transform: capitalize; }

#global_links a {
  color: #e3fdff;
  text-transform: capitalize;
  text-decoration: none; }

#global_links a:hover {
  color: #00a8c6;
  background-color: #e3fdff; }

#tabs {
  clear: left;
  padding: 0;
  height: 24px;
  margin: 15px 0 0 0; }

#tabs ul {
  margin: 0;
  padding: 0; }

#tabs li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline; }

#tabs a {
  color: #fff;
  background-color: #327aff;
  text-decoration: none;
  float: left;
  font-size: 13px;
  font-weight: normal;
  padding: 3px 8px 5px 8px;
  margin: 0 2px; }

#tabs li a:hover {
  color: #fff;
  background-color: #89b8ff;
  text-decoration: none; }

#tabs .workspace a {
  background-color: #f00; }

#tabs li a.current {
  color: #000;
  background-color: #d4d4d4; }

#tabs .with_space a, #tabs .with_space a.current {
  margin-right: 10px; }

#main {
  margin: 2em 0 0 3em; }

#left, #right, #right_kase {
  float: left; }

#left {
  background-color: #fff;
  width: 76%;
  box-shadow: 5px 5px 5px #999;
  moz-box-shadow: 5px 5px 5px #999;
  webkit-box-shadow: 5px 5px 5px #999; }

#left-kase {
  background-color: #fff;
  width: 98.5%; }

#left .head, #left-kase .head {
  color: #000;
  background-color: #d3dbff;
  padding: 0.5em 1.5em;
  margin: 0;
  font-size: 16px;
  border-bottom: 0px solid #5b72a5;
  position: relative; }

#left #screen, #left-kase #screen {
  padding: 0 1.5em 1.5em;
  position: relative; }

#left #flash_notice, #left-kase #flash_notice {
  padding: 1.2em;
  background-color: #ffffbf;
  font-weight: bold;
  font-size: 1.3em; }

#left #flash_error, #left-kase #flash_error {
  padding: 1.2em;
  background-color: #ff0062;
  font-weight: bold;
  font-size: 1.3em; }

#left #flash_warning, #left-kase #flash_warning {
  padding: 1.2em;
  background-color: #ffffbf;
  font-weight: bold;
  font-size: 1.3em; }

#tabs-kase {
  display: block;
  margin-top: -15px;
  margin-left: -30px;
  overflow: hidden; }

#tabs-kase ul {
  margin-top: 12px; }

#tabs-kase ul {
  list-style: none; }

#tabs-kase ul li a {
  float: left;
  padding: 10px;
  margin-left: 2px;
  margin-top: 1px;
  color: #204ca0;
  font-weight: normal;
  text-decoration: none; }

#tabs-kase ul li.current a {
  float: left;
  padding: 10px;
  color: #204ca0;
  font-weight: normal;
  background-color: #d3dbff;
  text-decoration: none; }

#tabs-kase ul li.current a:hover {
  float: left;
  padding: 10px;
  margin-top: 1px;
  color: #204ca0;
  font-weight: normal;
  background-color: #d3dbff;
  text-decoration: none; }

#tabs-kase ul li a:hover {
  float: left;
  padding: 10px;
  padding-top: 8px;
  margin-top: 3px;
  color: #204ca0;
  font-weight: 400;
  background-color: #fff;
  text-decoration: underline; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square; }

div.uploadStatus {
  margin: 5px; }

div.progressBar {
  margin: 5px; }

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%; }

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%; }

div.infoBox {
  margin: 15px 0px;
  padding: 10px;
  background-color: #eaf0f6;
  border: 1px solid #bcc6d0; }

div.helpBox {
  margin: 15px 0px;
  padding: 10px;
  background-color: #fafad6;
  border: 1px solid #f6d87d; }

#right, #right_kase {
  width: 20%;
  margin-left: 20px;
  color: #666;
  background: white; }

#kase_avatar {
  position: absolute;
  right: 25px;
  margin-right: -6px; }

span input#kase_avatar {
  left: 0px; }

#right {
  box-shadow: 5px 5px 5px #999;
  moz-box-shadow: 5px 5px 5px #999;
  webkit-box-shadow: 5px 5px 5px #999; }

#right img, #right_kase img {
  display: block;
  margin: 10px 0 10px 30%;
  padding: 10px;
  background-color: #d3dbff;
  border: 1px solid black; }

#right p, #right_kase p {
  padding: 5px 15px;
  font-size: smaller;
  line-height: 2em; }

#right a, #right_kase a {
  color: #666; }

#right a:hover, #right_kase a:hover {
  color: #fff;
  background-color: #666; }

#right label, #right_kase label {
  font-weight: bold; }

#right h2, #right_kase h2 {
  color: #204ca0;
  font-weight: normal;
  background-color: #d3dbff;
  padding: 0.4em 1em;
  margin: 0;
  font-size: 1.3em;
  border-bottom: 1px solid #5b72a5; }

#right h2.error, #right_kase h2 {
  color: #fff;
  font-weight: normal;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.08, #c41818), color-stop(0.54, #ff1414));
  background-image: -moz-linear-gradient(center bottom, #c41818 8%, #ff1414 54%);
  padding: 0.7em 1em;
  margin: 0;
  font-size: 1.3em;
  border-bottom: 1px solid #5b72a5; }

#right ul, #right_kase ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee; }

#right li, #right_kase li a {
  font-size: 1em;
  padding: 15px;
  line-height: 1.2em;
  border-bottom: 1px solid #eee;
  display: block; }

#right li a:hover, #right_kase li a:hover {
  color: black;
  background-color: #eaedfc; }

#footer {
  clear: both;
  padding: 1em 0 0 4em;
  color: #b5aea1;
  font-size: 0.8em; }

#footer a:link {
  color: #b5aea1;
  font-size: 0.8em;
  text-decoration: none; }

#footer a:hover {
  color: #fff; }
