= div_for plist do
  = plist.name
  = link_to "编辑", edit_admin_plist_path(plist), :class => "pill button", :remote => true
  = link_to "删除", admin_plist_path(plist), :method => :delete, :confirm => "确定删除吗？", :class => "pill negative button"

