%h2 快捷工具
%ul
  %li= link_to "<span class='plus icon'></span>新建文章".html_safe, new_admin_article_path, :class => "big button"
  %li= link_to "<span class='plus icon'></span>新建文章类型".html_safe, new_admin_acategory_path, :class => "big button"
  %li= link_to "<span class='plus icon'></span>管理文章类型".html_safe, admin_acategories_path, :class => "big button"
  
