$main-color: #144899;
$top-nav-color: #F8F6F6;
$background: lighten($main-color, 63%);
$border: darken($background, 20%);
$categories-title-color: #F18A0E;

@import "blueprint/screen.css";

.debug {
  border: 1px solid red;
}

h1.nav-path {
	font-size:1em;
	margin:0;
	padding:0;
	display:inline;
}
/* ======== home ======== */
#slides {
  .slides_container {
    width:470px;
    height:220px;
  }
  .slides_container div {
    width:470px;
    height:220px;
    display:block;
  }

  .pagination {
	  margin:3px auto 0;
	  width:100px;
  }

  .pagination li {
	  float:left;
	  margin:0 1px;
	  list-style:none;
  }

  .pagination li a {
	  display:block;
	  width:12px;
	  height:0;
	  padding-top:12px;
	  background-image:url("/images/pagination.png");
	  background-position:0 0;
	  float:left;
	  overflow:hidden;
  }

  .pagination li.current a {
	  background-position:0 -12px;
  }
}

#elite {
  margin: 3px 0;
  .head {
    background: url("/images/sub_nav_bg.gif") repeat-x scroll 0 -670px transparent;
    color: #1A66B3;
    border-top: 2px solid #309EDD;
    height: 30px;
    line-height: 26px;
    text-align: right;
    .title {
      background: url("/images/sub_nav.gif") no-repeat scroll 0 0 transparent;
      float: left;
      width: 150px;
      height: 30px;
      overflow: hidden;
    }
    .more {
      background: url("/images/sub_nav.gif") no-repeat scroll right -360px transparent;
      height: 28px;
      padding: 2px 22px 0 0;
    }
  }
  .body {
    border: 1px solid #2B8FC8;
    border-top: none;
    padding: 1px;
    background: #fff;
  }
}
#price_off {
  margin: 3px 0;
  .head {
    background: url("/images/sub_nav_bg.gif") repeat-x scroll 0 -670px transparent;
    color: #1A66B3;
    border-top: 2px solid #309EDD;
    height: 30px;
    line-height: 26px;
    text-align: right;
    .title {
      background: url("/images/sub_nav.gif") no-repeat scroll 0 -240px transparent;
      float: left;
      width: 150px;
      height: 30px;
      overflow: hidden;
    }
    .more {
      background: url("/images/sub_nav.gif") no-repeat scroll right -360px transparent;
      height: 28px;
      padding: 2px 22px 0 0;
    }
  }
  .body {
    border: 1px solid #2B8FC8;
    border-top: none;
    padding: 1px;
    background: #fff;
  }
}
#articles {
  border: 1px solid #9FBED0;
  .head {
    background: url("/images/sub_nav_bg.gif") repeat-x scroll 0 -550px transparent;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: $main-color;
  }
  .body {
    padding: 0 5px;
    height: 180px;
    line-height: 19px;
    a {
      text-decoration: none;
    }
  }
}

#leftbox {
  margin-top: 10px;
  border: 1px solid #9FBED0;
  .head {
    background: url("/images/sub_nav_bg.gif") repeat-x scroll 0 -550px transparent;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: $main-color;
  }
  .body {
    padding: 5px;
    text-align: center;
  }
}
.empty_search {
  text-align: center;
  margin-top: 50px;
  font-size: 1.1em;
}
/* ======== categories ======== */
.slide_panel {
  font-size: 12px;
  height: 126px;
  line-height: 18px;
  margin: 0 auto 10px;
  overflow: hidden;
  position: relative;
  width: 714px;
  .slide_panel_left, .slide_panel_right {
    background: url("/images/slideshow.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    font-size: 0;
    height: 126px;
    line-height: 0;
    overflow: hidden;
    width: 42px;
  }
  .slide_panel_content {
    background: url("/images/bg_slide.gif") repeat-x scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 126px;
    overflow: hidden;
    width: 620px;
  }
  .slide_panel_right {
    background: url("/images/slideshow.gif") no-repeat scroll -50px 0 transparent;
  }
  .slide_book_icon {
    background: url("/images/slideshow.gif") no-repeat scroll -160px 0 transparent;
    font-size: 0;
    height: 45px;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 45px;
  }
}
.category_filter {
  background: url("/images/bg_list.gif") no-repeat scroll 0 0 transparent;
  height: 41px;
  width: 790px;
  overflow: hidden;
  margin: 5px 0;
  .view_style {
    margin: 12px 10px 0 400px;
    width: 250px;
    height: 20px;
    overflow: hidden;
    a {
      margin: 1px 3px;
      padding: 1px 3px;
    }
    a.current {
      border: 1px solid #ccc;
      background: #fff;
    }
  }
  .btn_filter {
    color: #404040;
    display: inline;
    float: left;
    padding-top: 10px;
    width: 400px;
    height: 40px;
    .search_tip {
      display: inline;
      float: left;
      margin: 2px 2px 0 20px;
    }
    a {
      background: url("/images/filter.gif") no-repeat scroll right 0 transparent;
      color: #666666;
      display: inline;
      float: left;
      height: 23px;
      margin: 0 3px;
      overflow: hidden;
      padding-right: 6px;
      text-decoration: none;
      span {
        background: url("/images/filter.gif") no-repeat scroll -93px -25px transparent;
        cursor: pointer;
        display: inline;
        float: left;
        padding: 3px 0 2px 7px;
      }
      span.arrow {
        cursor: pointer;
        height: 23px;
        margin: 0;
        padding: 0 0 0 3px;
        width: 7px;
      }
      span.down {
        background: url("/images/filter.gif") no-repeat scroll 3px -92px transparent;
      }
      span.up {
        background: url("/images/filter.gif") no-repeat scroll -47px -92px transparent
      }
    }
    a:hover, a.active {
      background: url("/images/filter.gif") no-repeat scroll right -50px transparent;
      color: #007130;
      text-decoration: none;
      span {
        background: url("/images/filter.gif") no-repeat scroll -93px -75px transparent;
        cursor: pointer;
        text-decoration: none;
      }
      span.down {
        background: url("/images/filter.gif") no-repeat scroll -22px -92px transparent;
      }
      span.up {
        background: url("/images/filter.gif") no-repeat scroll -72px -92px transparent;
      }
    }
  }
}


/* ======== products ======== */
.product {
  width: 170px;
  background: $background;
  margin: 1px;
  display: inline-block;
  *display:inline;
  *zoom:1;
  .image {
    text-align: center;
  }
  .column {
    display: block;
    width: 120px;
    padding-left: 20px;
    span.off { text-decoration: line-through; }
    span.red { color: #D10015; }
  }
}
.product_full {
  width: 690px;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
  .image {
    width: 100px;
    height: 100px;
    float: left;
  }
  .name {
    width: 350px;
    height: 100px;
    float: left;
    overflow: hidden;
  }
  .columns {
    width: 230px;
    height: 100px;
    float: left;
    overflow: hidden;
    .column {
      display: block;
      width: 210px;
      padding-left: 30px;
      span.off { text-decoration: line-through; }
      span.red { color: #D10015; }
    }
  }
  .clear {
    clear: both;
  }
}
.product_list {
  width: 690px;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
  .name {
    width: 350px;
    height: 40px;
    float: left;
    overflow: hidden;
  }
  .price {
    width: 200px;
    height: 40px;
    float: left;
    overflow: hidden;
    .column {
      display: block;
      padding-left: 30px;
      span.off { text-decoration: line-through; }
      span.red { color: #D10015; }
    }
  }
  .discount {
    width: 130px;
    height: 40px;
    float: left;
    overflow: hidden;
  }
  .clear {
    clear: both;
  }
}
span.price-off {
  text-decoration: line-through;
}
span.price-big {
  font-size: 2em;
  color: #CC0000;
}
#product {
  h1 {
		font-size: 2em;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
    padding: 10px;
  }
  .column {
    display: block;
    padding: 2px;
    font-size: 1.1em;
    span.off { text-decoration: line-through; }
    span.red { color: #D10015; }
    span.bold { font-weight: bold; }
    span.big { font-size: 2em; }
  }
  .line {
    margin: 5px 0;
    border-bottom: 1px dashed #ccc;
  }
  .properties-title {
    font-size: 1.2em;
    margin-top: 5px;
  }
  .properties {
    background: #F2F2F2;
    border: 1px solid #bbb;
    padding: 10px;
    .property {
      color: #132E7E;
      padding: 3px;
      border-bottom: 1px dashed #ccc;
    }
  }
  .more_images {
    .image {
      border: 1px solid #ccc;
      width: 60px;
      height: 60px;
      display: inline-block;
      *display:inline;
      *zoom:1;
    }
    .note {
      padding: 0 5px;
    }
  }
  .description {
    padding: 10px;
  }
}

.tab_title, .tab_title li, .tab_title li a, .tab_title li a.current, .tab_title li.current span, .tab_title li.current2, .tab_title li.current2 span { background:url(/images/bg_tab.gif) no-repeat;}
.tab_title { height:32px; margin: 0; margin-top:20px; background:#fff url(/images/bg_tab.gif) left -123px repeat-x;}
.tab_title li { list-style: none; height:27px; float:left; margin-right:2px; background-position:right -54px; line-height:24px;}
.tab_title li a { float:left; background-position:left 0; padding:3px 23px 0 25px; color:#404040; text-decoration: none;}
.tab_title li a:hover { color:#f60;}
.tab_title li a strong { color:#c30; font-weight:bold;}
.tab_title li a:hover strong { color:#f60; font-weight:bold;}
.tab_title li.current{ font-size:14px; font-weight:bold; color:#fff; background-position:right -81px;}
.tab_title li.current span { float:left; background-position:left -27px; padding:3px 11px 0 14px;}
.tab_title li.current2 { font-size:14px; font-weight:bold; color:#fff; background-position:right -81px;}
.tab_title li.current2 span { float:left; background-position:left -27px; padding:3px 18px 0;}

/* ======== product_elite ======== */
.product_elite {
  width: 210px;
  height: 105px;
  margin: 10px 10px 10px 0;
  overflow: hidden;
  display: block;
  .image {
    float: left;
    width: 100px;
  }
  .columns {
    margin-left: 100px;
    padding-top: 5px;
    width: 100px;
    .column {
      span.off { text-decoration: line-through; }
      span.red { color: #D10015; }
    }
    .name {
      height: 60px;
      overflow: hidden;
    }
  }
}
/* ======== pagination ======== */
#page {
  width: 95%;
  padding: 10px 0;
  .pagination {
	  font-size: 13px;
	  text-align:right;
	  padding:4px 6px 4px 0;
	  background-color:#fff;
	  color:#313031;
	  a {
	    color:#0030ce;
	    text-decoration:none;
	    padding:5px 6px 4px 5px;
	    margin:0 3px 0 3px;
	    border:1px solid #b7d8ee;
	    &:hover, &:active {
	      color:#0066a7;
	      border:1px solid #b7d8ee;
	      background-color:#d2eaf6;
      }
    }
    span.current {
	    padding:5px 6px 4px 5px;
	    margin:0 3px 0 3px;
	    border:1px solid #b7d8ee;
	    font-weight:bold;
	    color:#444444;
	    background-color:#d2eaf6;
    }
    span.disabled {
	    display:none;
    }
  }
}
/* ======== comment ======== */
.comment {
  margin: 5px;
  font-size: 1em;
  .title {
    padding: 5px;
    background: #eee;
    .name {
      font-weight: bold;
      float: left;
      margin-right: 20px;
    }
    .author {
    }
  }
  .body {
    padding: 10px;
  }
}
form.new_comment {
  border: 1px solid #aaa;
  background: #eee;
  margin: 10px 30px;
  padding: 10px;
  textarea {
    height: 120px;
    width: 500px;
  }
}

/* ======== application ======== */
#top-nav {
  height: 22px;
  line-height: 22px;
  background: $top-nav-color;
  border: 1px solid darken($top-nav-color, 20%);
  border-top: none;
  padding: 2px 15px;
  border-radius: 0px 0px 5px 5px;
  color: #aaa;
  a {
    text-decoration: none;
  }
  .user {
    float: left;
  }
}

#logo {
  width: 200px;
  height: 60px;
  text-align: center;
  overflow: hidden;
  float: left !important;
  background:url("/images/Yobi-logo.gif") no-repeat;
  text-indent:-10000px;
  margin: 0;
  padding: 0;
  a {
	display:block;
	width:170px;
	height:88px;
  }
}

#tabs {
  width: 740px;
  margin-left: 200px;
  margin-top: 35px;
}

.tabs, .tabs li, .tabs li a, .tabs li a.current, .tabs li.current span { background:url(/images/tabs.gif) no-repeat;}
.tabs { height:27px; margin: 0; margin-top:20px;padding: 0; background:#fff url(/images/tabs.gif) left -123px repeat-x;}
.tabs li { list-style: none; height:27px; float:left; margin-right:2px; background-position:right -54px; line-height:24px;}
.tabs li a { float:left;background-position:left 0;padding:3px 10px 0 12px;color:#404040;text-decoration:none;font-size:13px;}
.tabs li a:hover { color:#f60; }
.tabs li a strong { color:#c30; font-weight:bold;}
.tabs li a:hover strong { color:#f60; font-weight:bold;}
.tabs li.current { font-size:14px; font-weight:bold; color:#fff; background-position:right -81px;}
.tabs li.current a { float:left; background-position:left -27px; color:#fff; padding:3px 11px 0 14px;}

#tab-tools {
  height: 50px;
  background: $main-color;
  border-radius: 5px 5px 5px 0;
  .all-categories {
    padding: 1px;
    background: $categories-title-color;
    float: left;
    height: 20px !important;
    position: relative;
    width: 210px !important;
    margin: 27px 20px 0 10px !important;
    z-index: 11;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 26px;
    color: white;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    display:inline;
  }
  .search {
    background: url("/images/search.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    width: 410px;
    float: left;
    margin-top: 5px;
    input {
      background: none repeat scroll 0 0 transparent;
      border: 0 none;
      height: 26px;
      margin: 8px 0 0 4px;
      padding-left: 5px;
      vertical-align: top;
      width: 317px;
    }
    button {
      background: none repeat scroll 0 0 transparent;
      border: medium none;
      cursor: pointer;
      height: 25px;
      margin-top: 8px;
      text-indent: -10000em;
      width: 70px;
    }
  }
  .cart {

  }
}
/* ======== navmenu ======== */
#navmenu {
  a {
    text-decoration:none;
    font-size: 1.1em;
  }
}
.ColLeft {
  width:230px;
  background: lighten($main-color, 64%);
}
.ColRight {
  width:740px;
  background:#fff;
  padding:5px;
}
.ColCenter {
  width:530px;
}
.SideBar {
  width:200px;
}
.extra {
  width:300px;
}

.CategoryTree {
  border:1px $main-color solid;
  border-top: none;
  .title-bottom {
    width: 212px;
    height: 5px;
    border: 1px solid #333;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background: $categories-title-color;
    margin-left: 9px;
  }
  .titlebar {
    height:20px;
    line-height:20px;
    background:$main-color;
    p {
      text-align:center;
      color:#fff;
      font-size:1.1em;
    }
  }
  ul {
    margin: 0;
    padding:10px 0;
    li {
      height:26px;
      line-height:26px;
      padding:0 10px;
      position:relative;
      vertical-align:middle;
      cursor:pointer;
      display:block;
      list-style:none;
      .tit {
        border-bottom:1px lighten($main-color, 50%) solid;
        display:block;
        font-weight:bold;
        padding-left:30px;
      }
      .icon {
        float: left;
        height: 12px;
        width: 12px;
        position: relative;
        left: 5px;
        top: 8px;
        background: url(/images/pagination.gif) 0 -12px no-repeat;
      }
      ul {
        margin: 0;
        position:absolute;
        width:200px;
        background:#fff;
        border:1px #666 solid;
        left:168px;
        top:0;
        display:none;
        padding:5px 10px 20px 10px;
        li {
          border-bottom:1px lighten($main-color, 50%) dashed;
          margin: 0 10px 3px 10px;
          padding: 0 10px;
        }
      }
    }
    li.selected {
      z-index:99;
      position:relative;
      .icon {
        z-index:99;
        float: left;
        height: 12px;
        width: 12px;
        position: relative;
        left: 5px;
        top: 8px;
        background: url(/images/pagination.gif) 0 0 no-repeat;
        display: inline;
      }
      .h2-tit {
        position:absolute;
        z-index:88;
        background:#fff;
        border:1px $main-color solid;
        border-right:0;
        width:129px;
        height:24px;
        line-height:24px;
        padding-left:33px;
        margin-left:-4px;
      }
    }
  }
}
/* ======== login & register & errors ======== */
.login-box {
  padding: 20px;
  border-right: 1px dashed #ccc;
}
.login-tools {
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
.relative {
  background: #eee;
  padding: 5px;
}
.field_with_errors {
  input {
    background: #FFD8D0;
  }
  label {
    color: red;
    display: block;
  }
}
form {
  label {
    display: block;
  }
  label.inline-block {
    display: inline-block;
  }
}
/* ======== main ======== */

#slide {
  height: 200px;
}

.top-margin-5 {
  margin-top: 5px;
}

.top-margin-10 {
  margin-top: 10px;
}
#nav-path {
  padding: 3px;
}
#footer {
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 5px 0;
  margin: 10px 0 20px 0;
}
a {
  text-decoration: none;
}

.page-errors {
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 1.4em;
  color: #D44444;
}
