#sidebar
  #navmenu
    .ColLeft.fl
      .CategoryTree
        .title-bottom
        %ul= show_categories_menu(@categories)
  - if controller_name =~ /home|categories|product/i
    #leftbox
      .head 热销产品
      .body
        = render @good_products

