#sidebar
  - cache("categories_navmenu") do
    #navmenu
      .ColLeft.fl
        .CategoryTree
          %ul= show_categories_menu(@categories)
  #leftbox
    .head 产品搜索
    .body.search
      = form_for @search, :url => search_path, :html => {:method => :get} do |f|
        %span= f.text_field :name_contains, :maxlength => 10
        %button{:type => "submit"} 搜 索
  - if controller_name =~ /home|categories|products/i
    #leftbox
      .head 热销产品
      .body
        = render :partial => "products/product_sidebar", :collection => @quantity_products, :as => :product
