#navmenu
  .ColLeft.fl
    .CategoryTree
      .titlebar
        %p 详细分类
      %ul
        - @root_categories.each do |c|
          %li
            = link_to c.name, c, :class => "tit"
            %ul
              - c.children.each do |cc|
                %li= link_to cc.name, cc
- if controller_name.downcase == "home"
  #leftbox
    .head 热销产品
    .body
      = render @good_products

