#sidebar
  - cache("categories_navmenu") do
    #navmenu
      .ColLeft.fl
        .CategoryTree
          .title-bottom
          %ul= show_categories_menu(@categories)
  - if controller_name =~ /home|categories|products/i
    #leftbox
      .head 热销产品
      .body
        = render :partial => "products/product_sidebar", :collection => @quantity_products, :as => :product

