<div id="slides">
	<div class="slides_container">
		<a href="#" title="#" target="_blank"><img src="/images/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
		<a href="#" title="#" target="_blank"><img src="/images/slide-2.jpg" width="570" height="270" alt="Slide 2"></a>
		<a href="#" title="#" target="_blank"><img src="/images/slide-3.jpg" width="570" height="270" alt="Slide 3"></a>
		<a href="#" title="#" target="_blank"><img src="/images/slide-4.jpg" width="570" height="270" alt="Slide 4"></a>
		<a href="#" title="#" target="_blank"><img src="/images/slide-5.jpg" width="570" height="270" alt="Slide 5"></a>
  </div>
</div>

<script>
	$(function(){
		$('#slides').slides({
			preload: false,
			preloadImage: '/images/loading.gif',
			play: 5000,
			pause: 2500,
			hoverPause: true
		});
	});
</script>

