#tab-tools
  .all-categories 全部产品分类
  .search
    = form_for @search, :url => search_path, :html => {:method => :get} do |f|
      %span= f.text_field :name_contains
      %button{:type => "submit"} 搜 索
