#top-nav
  .user
    您好，欢迎访问友比科技！
    = link_to "[用户中心]", new_user_session_path, :rel => "nofollow"
    或者没有账户?
    = link_to "[注册新账户]", new_user_registration_path, :rel => "nofollow"
  .right 关于我们 | 网站地图 | 常见问题 | 联系方式

