- meta_content(Settings.site.keywords, Settings.site.description)
= include_slides_scripts

#elite
  .head
    .title
    .more
  .body= render @elite_products
#price_off
  .head
    .title
    .more
  .body= render @price_off_products
