#elite
  .head
    .title
    .more
  .body= render @elite_products
#price_off
  .head
    .title
    .more
  .body= render @price_off_products

= content_for :script do
  = javascript_include_tag "slidesjs/slides.min.jquery.js"

