/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import "css3buttons.css";

/* ======== general ======== */
.top-margin-5 {
  margin-top: 5px;
}
.top-margin-10 {
  margin-top: 10px;
}
/* ======== product ======== */
.product {
  .info {
    background: #EAF0F6;
    border: 1px solid #D3DBFF;
    margin: 10px 0;

    .title {
      text-align: center;
      background: #D3DBFF;
      padding: 2px;
    }
    .content {
      padding: 10px;
      .attr {
      padding: 3px;
      }
    }
  }
}
/* ======== comment ======== */
.comment {
  margin: 5px;
  font-size: 1em;
  .title {
    padding: 5px;
    background: #eee;
    height: 20px;
    .name {
      font-weight: bold;
      float: left;
    }
    .product {
      float: left;
      margin-right: 20px;
    }
    .author {
      float: left;
    }
    .tool {
      float: right;
    }
  }
  .body {
    padding: 10px;
  }
}
form.edit_comment {
  margin: 5px 0;
  padding: 10px;
  background: #D8DCEF;
  border: 1px solid #204CA0;
  #error_explanation {
    border: 1px solid #F07746;
    margin: 10px;
    padding: 10px;
    background: #FFF0EB;
  }
  .field {
    margin: 5px;
    padding: 5px;
    label {
      float: left;
      width: 60px;
      overflow: hidden;
      text-align: right;
      padding: 5px 10px 0 0;
    }
    input {
      width: 600px;
    }
    textarea {
      height: 120px;
      width: 600px;
    }
  }
  .field_with_errors {
    color: #F07746;
    input {
      border: 1px solid #F07746;
      background: #FFF0EB;
    }
  }
}
/* ======== image ======== */
.image {
  margin-bottom: 3px;
  display: inline-block;
}
/* ======== category ======== */
.category {
  height: 25px;
  background: #F6F7FF;
  border: 1px solid #D3DBFF;
  margin: 5px;
  padding: 5px 5px 5px 15px;
}

.nested_categories {
  margin-left: 30px;
}
/* ======== article ======== */
.article {
  padding: 15px;
  .content {
    padding-top: 35px;
  }
}
/* ======== user ======== */
.user {
  padding: 50px 15px 15px 15px;
  font-size: 1.1em;
  line-height: 25px;
  .column {
    border-bottom: 1px solid #eee;
    height: 25px;
    .title {
      width: 120px;
      text-align: right;
      float: left;
      margin-right: 20px;
    }
    .attr {

    }
  }
}
/* ======== application ======== */
body {
	font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
	color:#000;
	background-color:#d4d4d4;
	margin:0;
	padding:0;
	font-size:0.8em;
	min-width:900px
}
a {
  text-decoration: none;
}
a:link,a:visited {
	color:#0054ff
}
a:hover {
	background-color:#0054ff;
	color:#fff
}
ul {
	padding-left:2em;
	margin-left:0
}
.float_right {
  float: right;
}
.center {
  text-align: center;
}

.form {
  padding: 10px;
  #error_explanation {
    border: 1px solid #F07746;
    margin: 10px;
    padding: 10px;
    background: #FFF0EB;
  }
  .field {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #eee;
    label {
      float: left;
      width: 150px;
      overflow: hidden;
    }
  }
  .field_with_errors {
    color: #F07746;
    input {
      border: 1px solid #F07746;
      background: #FFF0EB;
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th {
    background: #eaeaea;
    color: #222;
    font-weight: normal;
    padding: 5px;
    text-align: left;
  }
  td {
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
    &.last {
      // column where icons are shown (bigger than the text)
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  tr.even {
    background: #f8f8f8;
  }
}
/* ====================== pagination =========================== */
#page {
  width: 100%;
  padding: 10px 0;
  .pagination {
	  font-size: 13px;
	  text-align:right;
	  padding:4px 6px 4px 0;
	  background-color:#fff;
	  color:#313031;
	  a {
	    color:#0030ce;
	    text-decoration:none;
	    padding:5px 6px 4px 5px;
	    margin:0 3px 0 3px;
	    border:1px solid #b7d8ee;
	    &:hover, &:active {
	      color:#0066a7;
	      border:1px solid #b7d8ee;
	      background-color:#d2eaf6;
      }
    }
    span.current {
	    padding:5px 6px 4px 5px;
	    margin:0 3px 0 3px;
	    border:1px solid #b7d8ee;
	    font-weight:bold;
	    color:#444444;
	    background-color:#d2eaf6;
    }
    span.disabled {
	    display:none;
    }
  }
}
/* ====================== UI =========================== */

#header {
	background-color:#204ca0;
	margin:0;
	padding:0.5em 2.2em 0 3em
}
#header h1 {
	font-weight:normal;
	color:#fff
}
#header h1 span {
	font-size:0.6em;
	color:#bfd82d
}
#header h1 a {
	font-weight:normal;
	color:#fff;
	text-decoration:none;
}
#global_links {
	float:right;
	font-size:0.8em;
	color:#e3fdff;
	margin-top:12px;
	text-transform:capitalize
}
#global_links a {
	color:#e3fdff;
	text-transform:capitalize;
	text-decoration: none;
}
#global_links a:hover {
	color:#00a8c6;
	background-color:#e3fdff;
}
#tabs {
	clear:left;
	padding:0;
	height:24px;
	margin:15px 0 0 0;
}
#tabs ul {
	margin:0;
	padding:0;
}
#tabs li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}
#tabs a {
	color:#fff;
	background-color:#327aff;
	text-decoration:none;
	float:left;
	font-size:13px;
	font-weight:normal;
	padding:3px 8px 5px 8px;
	margin:0 2px;
}
#tabs li a:hover {
	color:#fff;
	background-color:#89b8ff;
	text-decoration:none
}
#tabs .workspace a {
	background-color:#f00;
}
#tabs li a.current {
	color:#000;
	background-color:#d4d4d4;
}
#tabs .with_space a,#tabs .with_space a.current {
	margin-right:10px;
}
#main {
	margin:2em 0 0 3em;
}
#left,#right,#right_kase {
	float:left
}
#left {
	background-color:#fff;
	width:76%;
	box-shadow:5px 5px 5px #999;
	moz-box-shadow:5px 5px 5px #999;
	webkit-box-shadow:5px 5px 5px #999;
}
#left-kase {
	background-color:#fff;
	width:98.5%;
}
#left .head,#left-kase .head {
	color:#000;
	background-color:#d3dbff;
	padding:0.5em 1.5em;
	margin:0;
	font-size:16px;
	border-bottom:0px solid #5b72a5;
	position:relative;
}
#left #screen,#left-kase #screen {
	padding:0 1.5em 1.5em;
	position:relative;
}
#left #flash_notice,#left-kase #flash_notice {
	padding:1.2em;
	background-color:#ffffbf;
	font-weight:bold;
	font-size:1.3em;
}
#left #flash_error,#left-kase #flash_error {
	padding:1.2em;
	background-color:#ff0062;
	font-weight:bold;
	font-size:1.3em;
}
#left #flash_warning,#left-kase #flash_warning {
	padding:1.2em;
	background-color:#ffffbf;
	font-weight:bold;
	font-size:1.3em;
}
#tabs-kase {
	display:block;
	margin-top:-15px;
	margin-left:-30px;
	overflow:hidden;
}
#tabs-kase ul {
	margin-top:12px;
}
#tabs-kase ul {
	list-style:none;
}
#tabs-kase ul li a {
	float:left;
	padding:10px;
	margin-left:2px;
	margin-top:1px;
	color:#204ca0;
	font-weight:normal;
	text-decoration:none;
}
#tabs-kase ul li.current a {
	float:left;
	padding:10px;
	color:#204ca0;
	font-weight:normal;
	background-color:#d3dbff;
	text-decoration:none;
}
#tabs-kase ul li.current a:hover {
	float:left;
	padding:10px;
	margin-top:1px;
	color:#204ca0;
	font-weight:normal;
	background-color:#d3dbff;
	text-decoration:none;
}
#tabs-kase ul li a:hover {
	float:left;
	padding:10px;
	padding-top:8px;
	margin-top:3px;
	color:#204ca0;
	font-weight:400;
	background-color:#fff;
	text-decoration:underline;
}
.fieldWithErrors {
	padding:2px;
	background-color:red;
	display:table;
}
#errorExplanation {
	width:400px;
	border:2px solid red;
	padding:7px;
	padding-bottom:12px;
	margin-bottom:20px;
	background-color:#f0f0f0;
}
#errorExplanation h2 {
	text-align:left;
	font-weight:bold;
	padding:5px 5px 5px 15px;
	font-size:12px;
	margin:-7px;
	background-color:#c00;
	color:#fff;
}
#errorExplanation p {
	color:#333;
	margin-bottom:0;
	padding:5px;
}
#errorExplanation ul li {
	font-size:12px;
	list-style:square;
}
div.uploadStatus {
	margin:5px;
}
div.progressBar {
	margin:5px;
}
div.progressBar div.border {
	background-color:#fff;
	border:1px solid grey;
	width:100%;
}
div.progressBar div.background {
	background-color:#333;
	height:18px;
	width:0%;
}
div.infoBox {
	margin:15px 0px;
	padding:10px;
	background-color:#eaf0f6;
	border:1px solid #bcc6d0;
}
div.helpBox {
	margin:15px 0px;
	padding:10px;
	background-color:#fafad6;
	border:1px solid #f6d87d;
}
#right,#right_kase {
	width:20%;
	margin-left:20px;
	color:#666;
	background:white;
}
#kase_avatar {
	position:absolute;
	right:25px;
	margin-right:-6px;
}
span input#kase_avatar {
	left:0px;
}
#right {
	box-shadow:5px 5px 5px #999;
	moz-box-shadow:5px 5px 5px #999;
	webkit-box-shadow:5px 5px 5px #999;
}
#right img,#right_kase img {
	display:block;
	margin:10px 0 10px 30%;
	padding:10px;
	background-color:#d3dbff;
	border:1px solid black;
}
#right p,#right_kase p {
	padding:5px 15px;
	font-size:smaller;
	line-height:2em;
}
#right a,#right_kase a {
	color:#666;
}
#right a:hover,#right_kase a:hover {
	color:#fff;
	background-color:#666;
}
#right label,#right_kase label {
	font-weight:bold;
}
#right h2,#right_kase h2 {
	color:#204ca0;
	font-weight:normal;
	background-color:#d3dbff;
	padding:0.4em 1em;
	margin:0;
	font-size:1.3em;
	border-bottom:1px solid #5b72a5;
}
#right h2.error,#right_kase h2 {
	color:#fff;
	font-weight:normal;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.08,rgb(196,24,24)),color-stop(0.54,rgb(255,20,20)));
	background-image:-moz-linear-gradient(center bottom,rgb(196,24,24) 8%,rgb(255,20,20) 54%);
	padding:0.7em 1em;
	margin:0;
	font-size:1.3em;
	border-bottom:1px solid #5b72a5;
}
#right ul,#right_kase ul {
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #eee;
}
#right li,#right_kase li a {
	font-size:1em;
	padding:15px;
	line-height:1.2em;
	border-bottom:1px solid #eee;
	display:block;
}
#right li a:hover,#right_kase li a:hover {
	color:black;
	background-color:#eaedfc;
}
#footer {
	clear:both;
	padding:1em 0 0 4em;
	color:#b5aea1;
	font-size:0.8em;
}
#footer a:link {
	color:#b5aea1;
	font-size:0.8em;
	text-decoration:none;
}
#footer a:hover {
	color:#fff;
}

