%h2 快捷工具
%ul
  %li= link_to "<span class='plus icon'></span>生成xml地图".html_safe, admin_generate_sitemap_path, :class => "big button"
  %li= link_to "<span class='plus icon'></span>新建产品".html_safe, new_admin_product_path, :class => "big button"
  %li= link_to "<span class='plus icon'></span>新建文章".html_safe, new_admin_article_path, :class => "big button"

