%h2 目录管理
%ul
  - if action_name.downcase == "show"
    %li= link_to "<span class='plus icon'></span>在此目录创建产品".html_safe, new_admin_product_path(:category_id => @category.id), :class => "big button"
  %li= link_to "<span class='plus icon'></span>新建目录".html_safe, new_admin_category_path, :class => "big button"

