- title "产品管理"
%p
  %table.table
    %tbody
      %tr
        %th 名称
        %th 目录
        %th 实际价格
        %th 库存数量
        %th 评论
        %th{:width => "150"} 操作
      = render @products
  = paginate @products

