/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.category {
  height: 15px;
  background: $background;
  border: 1px solid $border;
  margin: 5px;
  padding: 5px;
}

.nested_categories {
  margin-left: 20px;
}

