.product {
  width: 170px;
  background: $background;
  margin: 1px;
  display: inline-block;
  .image {
    text-align: center;
  }
  .column {
    display: block;
    padding-left: 30px;
    font-size: 1em;
    span.off { text-decoration: line-through; }
    span.red { color: #D10015; }
    span.bold { font-weight: bold; }
  }
}

